$box-shadow-sm: rgba(0, 0, 0, 0.16) 0px 1px 4px;
$box-shadow-lg: rgba(0, 0, 0, 0.16) 0px 10px 36px 0px,
  rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;

$box-shadow-in: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px inset,
  rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset;

.clickable-button {
  &:hover {
    cursor: pointer;
  }
}
